/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --dark-theme-cover-image: url(../images/cover-image-dark.png);
  --dark-bg-color: #000028;
  --dark-font-color: #FF0070;
  --dark-header-color: #DB00FF;
}