/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-theme-background: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --rec-visibility: block;
  --main-font-color: #000028;
  --title-font-color: #db00ff;
  --description-font-color: #f1b2ce;
  --accent-color: #ff0070;
}
