/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-theme-background: url(../images/cover-image-light.png);
  --rec-visibility: none;
  --main-font-color: #353430;
  --title-font-color: #ffc2e6;
  --description-font-color: #353430;
  --accent-color: #ff8dcb;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-theme-background: url(../images/cover-image-light.png);
    --rec-visibility: none;
    --main-font-color: #353430;
    --title-font-color: #ffc2e6;
    --description-font-color: #353430;
    --accent-color: #ff8dcb;
  }
}
