/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-theme-background: url(../images/cover-image-light.png);
  --rec-visibility: none;
  --main-font-color: #353430;
  --title-font-color: #FFC2E6;
  --description-font-color: #353430;
  --accent-color: #ff8dcb;
}

.header__theme-menu-button {
  color: var(--main-font-color);
}

.content__title {
  color: var(--main-font-color)
}

.decorated-zone::before {
    border-top: 1px solid var(--main-font-color);
  border-right: 1px solid var(--main-font-color);
}

.decorated-zone::after {
  border-bottom: 1px solid var(--main-font-color);
  border-left: 1px solid var(--main-font-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--main-font-color);
}