/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-color: #FFF1F7;

  
  --main-font-color: #353430;
  --header-font-color: #FFC2E6;
  --main-theme-background: url(../images/cover-image-light.png);
  --rec-visibility: none;
  --accent-color: #ff8dcb;
}