/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --light-theme-cover-image: url(../images/cover-image-light.png);
  --light-bg-color: #FFF1F7;
  --light-font-color: #353430;;
  --light-header-color: #FFC2E6;
  --light-rec-visibility: none;
  
  --main-font-color: var(--light-font-color);
  --header-font-color: var(--light-header-color);
  --main-theme-background: var(--light-theme-cover-image);
  --rec-visibility: var(--light-rec-visibility);
}