/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--main-theme-background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  position: relative;
  min-inline-size: 100vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 10px;
}

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.header__rec {
  text-transform: uppercase;
  font-size: 18px;
  display: var(--rec-visibility);
  font-family: "IBM Plex mono", monospace, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--accent-color);
  position: absolute;
  top: 0.1rem;
  right: 1.8rem;
  block-size: fit-content;
}

.header__rec::after {
  content: "";
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  border-radius: 50%;
  margin: -6px -20px 0 0;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inset-inline-end: 0;
  inset-block-start: 50%;
}

.decorated-zone {
  color: var(--aditional-font-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
}

.header__theme-menu {
  grid-row: 1;
  align-self: center;
}

.header__theme-menu-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-self: right;
  align-items: center;
  list-style: none;
}

.header__theme-menu-button {
  color: var(--aditional-font-color);
  font-family: "IBM Plex mono", monospace, sans-serif;
  font-weight: normal;
  padding: 1px 13px;
  font-style: normal;
  font-size: 18px;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px currentColor solid;
}

.header__theme-menu-button:hover {
  outline: 1px var(--hover-color) solid;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  min-inline-size: 70px;
  pointer-events: none;
}

.header__title {
  font-family: "IBM Plex mono", monospace, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--title-font-size);
  line-height: 82.5%;
  color: var(--title-font-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-row: 2;
  align-self: flex-start;
  margin-top: 5px;
}

.header__description {
  font-family: "IBM Plex mono", monospace, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-wrap-style: balance;
  grid-row: 3;
  margin-top: 30px;
  align-self: flex-start;
  width: 100%;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--main-font-color);
  font-size: 18px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content {
  font-family: "IBM Plex mono", monospace, sans-serif;
  font-style: normal;
  max-block-size: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__title {
  color: var(--aditional-font-color);
  text-wrap-style: auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  align-self: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  line-height: 130%;
}

.card__text-description {
  color: var(--description-font-color);
}

.card__link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.concentrate__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: var(--accent-color);
}

.card__list-advices {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.list-advices__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item__title {
  font-weight: normal;
}

.images {
  gap: 10px;
}

.gallary {
  display: grid;
  grid-template-columns: minmax(355px, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
}

.card__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  display: block;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--title-font-size);
  line-height: 96px;
  color: var(--title-font-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  align-self: center;
  margin-top: 30px;
}

@media (width <= 668px) {
  :root {
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width >= 768px) {
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .page {
    gap: 80px;
    padding: 20px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    max-block-size: calc(100vh - 40px);
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    align-self: center;
    margin-top: 115px;
  }

  .header__title {
    grid-column: 1 / 3;
    position: relative;
    top: 115px;
    left: -20px;
    margin: 0;
  }

  .header__description {
    grid-column: 2;
    align-self: flex-start;
    justify-self: flex-start;
    margin-top: 50px;
  }

  .main-content {
    display: flex;
    gap: 80px;
  }

  .reasons .content__title {
    justify-self: flex-start;
    max-inline-size: 20%;
  }

  .explonation {
    display: grid;
    grid-template-columns: minmax(236px, 1fr) 1fr 1fr;
    column-gap: 20px;
  }

  .explonation .card {
    grid-column: 2 / 4;
    align-self: center;
    justify-self: center;
  }

  .advices {
    display: grid;
    grid-template-columns: minmax(236px, 1fr) 1fr 1fr;
    grid-template-rows: 23px;
  }

  .advices .card {
    grid-column: 2 / 4;
  }

  .advices .title-decor {
    grid-column: 2 / span 2;
  }

  .content__title {
    justify-self: start;
    grid-column: 1;
  }

  .images {
    gap: 20px;
  }

  .gallary {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 192px 230px 1fr;
    gap: 20px;
    grid-auto-flow: dense;
    max-block-size: fit-content;
  }

  .card__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .card__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / span 2;
  }

  .card__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .card__image:nth-child(4) {
    object-fit: contain;
    grid-column: 2;
    grid-row: 2;
  }

  .card__image:nth-child(5) {
    grid-column: -3 / span 2;
    grid-row: 3;
  }

  .footer__title {
    position: relative;
    bottom: 20px;
    right: 3px;
    margin: 0;
  }
}

@media (width >= 1024px) {

  .page {
    gap: 40px;
  }

  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    grid-column: span 3;
    grid-row: 1;
    align-self: flex-start;
    justify-self: center;
    margin: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    top: 43px;
    right: 0;
  }

  .header__description {
    max-block-size: fit-content;
    margin-top: 30px;
  }

  .main-content {
    gap: 80px;
  }

  .reasons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
  }

  .reasons .content__title {
    grid-column: 1 / -1;
    max-width: 315px;
  }

  .gallary {
    grid-template-rows: 260px 315px 1fr;
  }

  .footer__title {
    top: 20px;
    left: 1px;
    bottom: 0;
    align-self: center;
  }
}
