/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--main-theme-background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  position: relative;
  overflow-x: hidden;
  min-inline-size: 100vw;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 10px;
}

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.header__rec {
  text-transform: uppercase;
  font-size: 18px;
  display: var(--rec-visibility);
  font-family: "IBM Plex mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--accent-color);
  position: absolute;
  top: 10px;
  right: 48px;
  block-size: 26px;
}

.header__rec::after {
  content: "";
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  border-radius: 50%;
  margin: -5px -28px 0 0;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inset-inline-end: 0;
  inset-block-start: 50%;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__theme-menu {
  grid-row: 1;
  align-self: center;
  margin-right: 10px;
}

.header__theme-menu-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-self: right;
  align-items: center;
  list-style: none;
}

.header__theme-menu-button {
  color: var(--accent-color);
  font-family: "IBM Plex mono", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  min-inline-size: 70px;
}

.header__title {
  font-family: "IBM Plex mono", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 116px;
  line-height: 82.5%;
  color: var(--title-font-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-row: 2;
}

.header__description {
  font-family: "IBM Plex mono", sans-serif;
  font-style: normal;
  font-weight: bold;
  min-block-size: auto;
  text-wrap-style: balance;
  max-block-size: 117px;
  grid-row: 3;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--main-font-color);
  font-size: 18px;
  margin-right: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content {
  font-family: "IBM Plex mono", sans-serif;
  font-style: normal;
  max-block-size: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__title {
  color: var(--accent-color);
  text-wrap-style: auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__text-description {
  color: var(--description-font-color);
  margin-right: 10px;
}

.card__link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.concentrate__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: var(--accent-color);
}

.card__list-advices {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.list-advices__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item__title {
  font-weight: normal;
}

.gallary {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  margin-right: 10px;
}

.card__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  display: block;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footer__title {
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 116px;
  line-height: 96px;
  color: var(--title-font-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width <= 668px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width >= 768px) {
  .page {
    gap: 80px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    align-content: space-between;
    min-block-size: 1024px;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
  }

  .header__title {
    grid-column: 1 / 3;
  }

  .header__description {
    grid-column: 2;
    align-self: auto;
  }

  .main-content {
    display: flex;
  }

  .explonation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .explonation .card {
    grid-column: 2 / 4;
  }

  .advices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

   .advices .card {
    grid-column: 2 / 4;
  }

  .content__title {
    justify-self: start;
  }

  .gallary {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
    max-block-size: fit-content;
  }

  .card__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .card__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / span 2;
  }

  .card__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .card__image:nth-child(4) {
    object-fit: contain;
    grid-column: 2;
    grid-row: 2;
  }

  .card__image:nth-child(5) {
    grid-column: -3 / span 2;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
