/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-theme-background: url(../images/cover-image-dark.png);
  --rec-visibility: block;
  --main-font-color: #000028;
  --title-font-color: #DB00FF;
  --description-font-color: #F1B2CE;
  --accent-color: #ff0070;
}