/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-theme-background: var(--dark-theme-cover-image);
  --bg-color: var(--dark-bg-color);
  --rec-visibility: var(--dark-rec-visibility);
  --main-font-color: var(--dark-font-color);
  --header-font-color: var(--dark-header-color);
}