/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-theme-background: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --rec-visibility: block;
  --main-font-color: #FF0070;
  --header-font-color: #DB00FF;
}