/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-theme-background: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --rec-visibility: block;
  --main-font-color: #000028;
  --aditional-font-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --title-font-color: #DB00FF;
  --description-font-color: #F1B2CE;
  --accent-color: #ff0070;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}